In [ ]:
import numpy as np
import pandas as pd

data=pd.read_csv('/content/drive/MyDrive/Colab Notebooks/CLIENTS/7. Dammy/Pandas/Fortune 500 2017 - Fortune 500.csv')

# Set display options to show maximum columns
pd.set_option('display.max_columns', None)

#Difference between pandas dataframe and pandas series

In [ ]:
type(data)

pandas.core.frame.DataFrame

In [ ]:
# individual column termed as pandas series
title = data['Title']
type(title)

pandas.core.series.Series

In [ ]:
# individual row termed as pandas series as well
third_row = data.iloc[3]
type(third_row)

pandas.core.series.Series



---

##What are 5 most popular industries?

- This question is only for the example poin of view. We will discuss all the operations we can perform on a pandas series for example!

In [ ]:
# to overview the data
data.sample(1)

,Rank,Title,Website,Employees,Sector,Industry,Hqlocation,Hqaddr,Hqcity,Hqstate,Hqzip,Hqtel,Ceo,Ceo-title,Address,Ticker,Fullname,Revenues,Revchange,Profits,Prftchange,Assets,Totshequity
266,267,Mastercard,http://www.mastercard.com,11900,Business Services,Financial Data Services,"Purchase, NY",2000 Purchase St.,Purchase,NY,10577,914-249-2000,Ajay Banga,"President, Chief Executive Officer & Director","2000 Purchase St., Purchase, NY 10577",MA,Mastercard Incorporated,10776,11.5,4059.0,6.6,18675,5656.0

##1.value_counts

In [ ]:
data['Industry'].value_counts().head()

Industry
Utilities: Gas and Electric                 22
Specialty Retailers: Other                  21
Insurance: Property and Casualty (Stock)    20
Commercial Banks                            19
Chemicals                                   14
Name: count, dtype: int64

##2.nunique

In [ ]:
data['Industry'].nunique()

73

##3.unique

In [ ]:
data['Industry'].unique()

array(['General Merchandisers',
       'Insurance: Property and Casualty (Stock)',
       'Computers, Office Equipment', 'Petroleum Refining',
       'Wholesalers: Health Care',
       'Health Care: Insurance and Managed Care',
       'Health Care: Pharmacy and Other Services',
       'Motor Vehicles and Parts', 'Telecommunications',
       'Internet Services and Retailing', 'Industrial Machinery',
       'Food and Drug Stores', 'Diversified Financials',
       'Commercial Banks', 'Specialty Retailers: Other',
       'Aerospace and Defense', 'Computer Software',
       'Information Technology Services',
       'Insurance: Property and Casualty (Mutual)', 'Pharmaceuticals',
       'Household and Personal Products',
       'Insurance: Life, Health (Stock)', 'Food Consumer Products',
       'Food Production', 'Mail, Package, and Freight Delivery',
       'Semiconductors and Other Electronic Components', 'Entertainment',
       'Wholesalers: Food and Grocery',
       'Network and Other Communications Equipment', 'Chemicals',
       'Health Care: Medical Facilities', 'Beverages',
       'Insurance: Life, Health (Mutual)', 'Airlines',
       'Electronics, Electrical Equipment',
       'Construction and Farm Machinery', 'Pipelines',
       'Specialty Retailers: Apparel', 'Apparel',
       'Utilities: Gas and Electric', 'Miscellaneous', 'Energy',
       'Tobacco', 'Wholesalers: Electronics and Office Equipment',
       'Food Services', 'Mining, Crude-Oil Production',
       'Automotive Retailing, Services', 'Packaging, Containers',
       'Medical Products and Equipment', 'Railroads',
       'Scientific, Photographic and Control Equipment', 'Temporary Help',
       'Engineering, Construction', 'Computer Peripherals',
       'Hotels, Casinos, Resorts', 'Metals',
       'Oil and Gas Equipment, Services', 'Advertising, Marketing',
       'Wholesalers: Diversified', 'Financial Data Services',
       'Transportation and Logistics', 'Diversified Outsourcing Services',
       'Waste Management', 'Home Equipment, Furnishings', 'Real Estate',
       'Homebuilders', 'Securities', 'Publishing, Printing',
       'Forest and Paper Products', 'Trucking, Truck Leasing',
       'Building Materials, Glass', 'Transportation Equipment',
       'Toys, Sporting Goods'], dtype=object)

In [ ]:
# storing pandas series in a variable
industry_names = data['Industry'].value_counts()

In [ ]:
industry_names

Industry
Utilities: Gas and Electric                 22
Specialty Retailers: Other                  21
Insurance: Property and Casualty (Stock)    20
Commercial Banks                            19
Chemicals                                   14
                                            ..
Mail, Package, and Freight Delivery          2
Waste Management                             2
Forest and Paper Products                    1
Transportation Equipment                     1
Toys, Sporting Goods                         1
Name: count, Length: 73, dtype: int64

##4.values

In [ ]:
industry_names.values

array([22, 21, 20, 19, 14, 13, 12, 12, 10, 10, 10, 10, 10,  9,  9,  9,  9,
        9,  9,  9,  9,  9,  8,  8,  7,  7,  7,  7,  7,  7,  7,  7,  7,  7,
        6,  6,  6,  6,  6,  6,  6,  6,  6,  5,  5,  5,  5,  5,  5,  5,  5,
        4,  4,  4,  3,  3,  3,  3,  3,  3,  3,  3,  3,  2,  2,  2,  2,  2,
        2,  2,  1,  1,  1])

##5.index

In [ ]:
industry_names.index

Index(['Utilities: Gas and Electric', 'Specialty Retailers: Other',
       'Insurance: Property and Casualty (Stock)', 'Commercial Banks',
       'Chemicals', 'Food Consumer Products', 'Aerospace and Defense',
       'Diversified Financials', 'Wholesalers: Diversified',
       'Telecommunications', 'Insurance: Life, Health (Stock)',
       'Pharmaceuticals', 'Petroleum Refining', 'Packaging, Containers',
       'Internet Services and Retailing', 'Financial Data Services',
       'Mining, Crude-Oil Production', 'Motor Vehicles and Parts',
       'Automotive Retailing, Services', 'Entertainment',
       'Semiconductors and Other Electronic Components',
       'General Merchandisers', 'Health Care: Medical Facilities',
       'Health Care: Insurance and Managed Care',
       'Insurance: Life, Health (Mutual)', 'Food and Drug Stores',
       'Information Technology Services', 'Household and Personal Products',
       'Specialty Retailers: Apparel',
       'Wholesalers: Electronics and Office Equipment', 'Energy',
       'Engineering, Construction', 'Medical Products and Equipment',
       'Construction and Farm Machinery', 'Computer Software',
       'Wholesalers: Food and Grocery', 'Metals', 'Airlines',
       'Electronics, Electrical Equipment', 'Pipelines', 'Securities',
       'Homebuilders', 'Wholesalers: Health Care',
       'Health Care: Pharmacy and Other Services', 'Real Estate',
       'Food Services', 'Apparel', 'Food Production',
       'Insurance: Property and Casualty (Mutual)', 'Industrial Machinery',
       'Hotels, Casinos, Resorts', 'Computers, Office Equipment',
       'Home Equipment, Furnishings',
       'Network and Other Communications Equipment', 'Tobacco',
       'Temporary Help', 'Miscellaneous', 'Diversified Outsourcing Services',
       'Computer Peripherals', 'Transportation and Logistics',
       'Oil and Gas Equipment, Services', 'Railroads', 'Beverages',
       'Trucking, Truck Leasing', 'Publishing, Printing',
       'Scientific, Photographic and Control Equipment',
       'Advertising, Marketing', 'Building Materials, Glass',
       'Mail, Package, and Freight Delivery', 'Waste Management',
       'Forest and Paper Products', 'Transportation Equipment',
       'Toys, Sporting Goods'],
      dtype='object', name='Industry')

##6.head

In [ ]:
industry_names.head()

Industry
Utilities: Gas and Electric                 22
Specialty Retailers: Other                  21
Insurance: Property and Casualty (Stock)    20
Commercial Banks                            19
Chemicals                                   14
Name: count, dtype: int64

##7.tail

In [ ]:
industry_names.tail()

Industry
Mail, Package, and Freight Delivery    2
Waste Management                       2
Forest and Paper Products              1
Transportation Equipment               1
Toys, Sporting Goods                   1
Name: count, dtype: int64

##8.sample

In [ ]:
industry_names.sample(10)

Industry
Homebuilders                    6
Diversified Financials         12
Specialty Retailers: Other     21
Food Consumer Products         13
Tobacco                         3
Home Equipment, Furnishings     4
Temporary Help                  3
Commercial Banks               19
Entertainment                   9
Securities                      6
Name: count, dtype: int64